- if @task_session.finished?
  :plain
    $("li#task_#{@task_session.task.id} .action_link").html("#{j(render('tasks/action_link', task: @task_session.task))}");
- else
  :plain
    $('#errors').html("#{j(render('shared/error_messages', model: @task_session))}");
