%h1 Tasks
%p= link_to 'Create a Task', new_task_path

- if @tasks.present?
  %ul
    - @tasks.each do |task|
      %li= task.name
- else
  %p You don't have tasks. #{link_to 'Create your first task', new_task_path}
